---
import { textos } from '@/utils/textos';
---

<header>
  <nav>
    <a href="#hero">{textos.navegacion.inicio}</a>
    <a href="#experiencia">{textos.navegacion.experiencia}</a>
    <a href="#proyectos">{textos.navegacion.proyectos}</a>
    <a href="#educacion">{textos.navegacion.educacion}</a>
    <a href={`mailto:${textos.sociales.correo}`}>{textos.navegacion.contacto}</a>
  </nav>
</header>
